.info {
  display: flex;
 
  /* displa flex pour que tout les cadres devienne en seule ligne  */
}
#aa{
  width: 300px;

height: 300px !important ;}
.TOS{
  padding: 10px; ;
}
.cont{
  background-color: rgba(1, 32, 22, 0.644);
  width: 100%;
  height: 1500px;
  padding-top: 50px;
 
}